*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 30px 250px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.card img{
    height: 410px;
    width: 280px;
    margin: auto 8px;
}

.float{
    float: left;
}

p{
    font-size: 10px;
    margin-left: 8px;
}

span{
    font-size: 15px;;
}

h1{
    font-size: 15px;
    margin-left: 8px;
}

.red{
    color: red;
    margin-left: 8px;
}

.price-trough{
    text-decoration: line-through;
}

.card{
    position: relative;
}

.property{
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 3px;
    width: 30px;
}

.sustainability{
    background-color: green;
    color: white;
    font-size: 10px;
    width: 56px;
    padding: 3px;
 
}

.position{
    position: absolute;
    bottom: 70px;
    left: 8px;
}

.position-2{
    position: absolute;
    bottom: 70px;
    left: 8px;
}
   
.heart{
    position: absolute;
    top: 10px;
    right: 8px;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
}
.card:hover .heart{
    color: red;
}

.card:hover #img-1{
    content: url(img/1b.webp);
    width: 280px;
}

.card:hover #img-2{
    content: url(img/2b.webp);
    width: 280px;
}

.card:hover #img-3{
    content: url(img/3b.webp);
    width: 280px;
}

.card:hover #img-4{
    content: url(img/4b.webp);
    width: 280px;
}

.card:hover #img-5{
    content: url(img/5b.webp);
    width: 280px;
}

.card:hover #img-6{
    content: url(img/6b.webp);
    width: 280px;
}